<h1>Feel at home, anywhere </h1>
<p>Sign up to Cloud bnb and feel at home, anywhere in one of our luxurious spaces. At Cloud bnb you can browse our
  partners’ spaces, see when they’re available, and place bookings. Space owners can check through any requests before
  approving, giving both owners and visitors peace of mind.</p>

<div class="signup-form">

  <form method="POST" action="/register">
    <label for="firstname">First name</label>
    <input type="text" placeholder="First name" name="firstname" />
    <label for="password">Last name</label>
    <input type="text" placeholder="Last name" name="lastname" />
    <label for="email">Email</label>
    <input type="text" placeholder="Email address" name="email" />
    <label for="username">Username</label>
    <input type="text" placeholder="Username" name="username" />
    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password" />
    <input type="submit" name="Sign up!" />
  </form>
</div>