<h1 class="mast">Feel at home, anywhere</h1>
<p>Welcome back! Please login to Cloud bnb and get ready to feel at home, anywhere.</p>
<p>Log in to CloudBnB</p>
<div class="signup-form">
  <form method="POST" action="/login">
    <label for="username">Username</label>
    <input type="text" placeholder="Username" name="username" />
    <label for="password">Password</label>
    <input type="password" placeholder="password" name="password" />
    <input type="submit" value="Log in"  />
  </form>
</div>